/*
!/.bashrc
!/.bashrc-functions
!/.bashrc-completion
!/.gitignore
!/.toprc
!/scripts/
/scripts/*
!/scripts/analyse-x86.sh
!/scripts/boost_opera.sh
!/scripts/browser.sh
!/scripts/dld_all_from_playlist.sh
!/scripts/encode.sh
!/scripts/grab_audio.sh
!/scripts/find_nice_backgrounds.sh
!/scripts/player_m3u.sh
!/scripts/show_keycode.sh
!/scripts/toggle_speed.sh
!/scripts/touchpad.sh
!/scripts/zmniejsz_jpg.sh
!/scripts/trello_get_json.sh
