/*
!/.bashrc
!/.bashrc-functions
!/.bashrc-completion
!/.gitignore
!/.toprc
!/.vimrc
!/.Xdefaults
!/scripts/
/scripts/*
!/scripts/analyse-x86.sh
!/scripts/boost_opera.sh
!/scripts/browser.sh
!/scripts/dld_all_from_playlist.sh
!/scripts/encode.sh
!/scripts/grab_audio.sh
!/scripts/find_nice_backgrounds.sh
!/scripts/player_m3u.sh
!/scripts/show_keycode.sh
!/scripts/toggle_speed.sh
!/scripts/touchpad.sh
!/scripts/zmniejsz_jpg.sh
!/scripts/trello_get_json.sh
!.themes/
!/.config/
/.config/*
!/.config/awesome/
!/.config/Terminal
!/.config/compiz
!/.config/gtk-2.0/
/.config/gtk-2.0/gtkfilechooser.ini
!/.config/luakit/
/.config/luakit/*
!/.config/luakit/rc.lua
!/.config/luakit/modes.lua
!/.config/luakit/webview.lua
!/.config/luakit/window.lua
!/.config/luakit/globals.lua
!/.config/luakit/theme.lua
!/.config/luakit/binds.lua
*~
*.swp
